<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saravanan's portfolio site</title>
    <style>
        h1 {
            font-size: large;
            font-family: Roboto;
            color: rgb(80,80,80);
            text-align: center;
        }

        #banner {
            height : 600px;
             width: 100%;
             object-fit: cover
        }

        #id {
            max-width: 720px;
            margin: 0 auto 0 auto;
        }
    </style>
</head>
<body>
    <div id = "container">
    <h1>Welcome! Saravanan here..</h1>
    <p style="text-align: center;">Hello, there. This is my portfolio website.</p>
    <img id="banner" src=".\static\mountain.jpg" alt="mountain" height="600px" width="1900px">

    </div>
</body>
</html>